* {
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}

:root {
    --color-dark: rgb(22, 30, 59);
    --color-light: #fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: var(--color-dark);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light);
}

h1 {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 2rem;
    margin: 0;
    padding-top: 30px;
    width: 100%;
}

form {
    display: grid;
    grid-template-columns: repeat(2, max-content);

    gap: .5rem 1rem;

    width: min-content;
    text-align: right;
}

input[type="number"], 
input[type="text"],
select {
    height: 1.2rem;
    font-size: .8rem;
}
input:focus::placeholder {
    color: transparent;
}

input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 3;
}
.button, button {
    width: max-content;
    font-size: .8rem;
    margin: 1rem auto;
    padding: .3rem 1rem .2rem 1rem;
    background-color: var(--color-dark);
    color: var(--color-light);
    border: none;
    border-radius: .3em;
}

table {
    margin: 0 auto;
    border: 1px solid var(--color-dark);
}
thead {
    background-color: var(--color-dark);
    color: var(--color-light);
}
td {
    padding: 0 1.5em;
}
tbody > tr:nth-child(odd) {
    background-color: aliceblue;
}
